/*
first color: #132743;
second color: #ef4f4f;
*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 4000px;
}
h2 {
    color: #b5251a;
    margin: 25px;
}
h2::after {
    display: block;
    content: '';
    margin: 0 auto;
    margin-top: 10px;
    background-color: #b5251a;
    height: 2px;
    width: 100px;
}
h5::after {
    display: block;
    content: '';
    margin: 0 auto;
    margin-top: 10px;
    background-color: #fff;
    height: 2px;
    width: 100px;
}

/*** start upper bar ***/
.upperBar {
    background-color: #132743;
    color: rgba(255, 255, 255, 0.589);
    width: 100%;
    padding: 2px 7px;
}
.saleText {
    color: #b5251a;
}

/*** end upper bar ***/

/*** start navbar ***/
.navbar {
    z-index: 200;
    height: 70px;
    position: sticky;
    top: 0;
}
.navbar img {
    width: 120px;
    height: 70px;
    margin-top: -10px;
}
.navbar-toggler {
    height: 45px;
    margin-top: -20px;
}

.navbar-collapse {
    flex-grow: inherit; /*To make navbar items go to the right side*/
}
/*** end navbar ***/

/*** start header Section ***/
.header {
    height: 80vh;
    display: flex;
    align-items: inherit;
    justify-content: center;
}
.headerSidePage {
    /*height: 70vh;*/
    width: 100%;
    /*display: flex;*/
    border: 4px solid #132743;
}
.innerPage {
    width: 100%;
    color: #fff;
    background-color: #5a3643b0;
    background-image: url(../images/heather-ford-5gkYsrH_ebY-unsplash.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
.title {
    flex-grow: 0.4;
}
.btns {
    margin-top: 20px;
}
.img {
    height: inherit;
    width: 98%;
    position: absolute;
    background-image: url(../images/heather-ford-5gkYsrH_ebY-unsplash.jpg);
    background-size: cover;
}
/*** start header Carousel ***/
.headerCarText::before {
    content: "50%";
    background-color: #ef4f4f;
    color: red;
    font-size: 80px;
    font-weight: 800;
   
}

/*** end header Carousel ***/

/*** end header Section ***/

/*** start secondSection ***/
.secondSection {
    background-color: #eee;
    width: 100%;
    
}
.menCard {
    background-color: #857d7d36;
}
.menImg {
    background-image: url('../images/men/jonathan-francisca-YHbcum51JB0-unsplash.jpg');
    background-size: cover;
    height: 300px;
    width: 100%;
}
.womenCard {
    background-color: #cc9c9c48;
}
/* .secondSection .container {
    height: 300px;
} */
.secondSection img {
    width: 100%;
    height: 100%;
}
/*** end secondSection ***/

/*** start third section ***/
.thirdSection {
    background-color: #eee;
}
.thirdSecImg {
    height: 400px;
    width: 100%;
    background-image: url('/images/gervyn-louis-ZVZxYaSrvAI-unsplash.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    background-attachment: fixed;
    color: #fff;
}
/*** end third section ***/

/*** end fourth section ***/
.fourthSection {
    height: 700px;
    width: 100%;
    background-color: #fff;
}
.fourthSection img{
    height: 350px;
    width: 300px;
}
.fourthSection .cardHeart {
    height: 25px;
    margin-top: 5px;
    cursor: pointer;
    display: none;
}
.fourthSection .active {
    display: block;
}
.card-body {
    padding: 0.25rem;
}
.card-title {
    margin-bottom: 0.5rem;
}
.owl-theme .owl-nav {
    margin-top: 0;
}

/*** end fourth section ***/

/*
****************************************
********     MEDIA QUERIES     ********
****************************************
*/

/* Extra Small devices (landscape phones, small than 544) */
@media (max-width: 544px) { 
    .header {
        height: 100vh;
    }
    .title {
        flex-grow: 0.2;
    } 
    .h1 {
        font-size: 1.5rem;
    }
    .btn:not(:disabled):not(.disabled) {
        font-size: x-small;
        padding: 0 6px;
    }
}

/* Small devices (landscape phones, 545 and up) */
@media (min-width: 545px) {  
    .h1 {
        font-size: 2rem;
    }
 } 

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    
  }
   
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}
   
