/*
first color: #132743;
second color: #ef4f4f;
*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 2000px;
}
h2 {
    color: #ef4f4f;
    margin: 25px;
}
h2::after {
    display: block;
    content: '';
    margin: 0 auto;
    margin-top: 10px;
    background-color: #ef4f4f;
    height: 2px;
    width: 100px;
}
/*** start upper bar ***/
.upperBar {
    background-color: #132743;
    color: rgba(255, 255, 255, 0.589);
    width: 100%;
    padding: 2px 7px;
}

/*** end upper bar ***/

/*** start navbar ***/
.brand {
    font-size: 30px;
}
.brand span:first-child {
    color: #132743;
    font-weight: bold;
}
.brand span:last-child {
    color: #ef4f4f;
}
.navbar {
    z-index: 200;
    height: 70px;
    position: sticky;
    top: 0;
}
.navbar img {
    width: 120px;
    height: 70px;
    margin-top: -10px;
}
.navbar-toggler {
    height: 45px;
    margin-top: -20px;
}

.navbar-collapse {
    flex-grow: inherit; /*To make navbar items go to the right side*/
}
/*** end navbar ***/

/*** start header Section ***/
.header {
    height: 80vh;
    display: flex;
    align-items: inherit;
    justify-content: center;
}
.headerSidePage {
    height: 70vh;
    width: 100%;
    display: flex;
}
.innerPage {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #5a3643b0;
    background-image: url(../images/heather-ford-5gkYsrH_ebY-unsplash.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
.innerPage .container {
    flex-direction: column;
}
.btns {
    margin-top: 20px;
}
.img {
    height: inherit;
    width: 98%;
    position: absolute;
    background-image: url(../images/heather-ford-5gkYsrH_ebY-unsplash.jpg);
    background-size: cover;
}
/*** end header Section ***/

/*** start features ***/
.features {
    display: block;
}
.features .col-lg {
    color: #fff;
    margin: 10px;  
}
.features .btn-primary {
    background-color: #ef4f4fb4;
    border-color: #fff;
}

.features .btn-primary:active {
    background-color: #ef4f4f;
}
/*.features .col-lg {
    width: 300px;
    height: 400px;
    color: #fff;
    border: 2px solid #ef4f4f6c;
    box-shadow:5px 4px 4px #343d4b7e;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
}*/
.features .one {
    background-image: url(../images/nynne-schroder-Oc_quFdeGcs-unsplash.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}
.features .two {
    background-image: url(../images/sarah-dorweiler-gUPiTDBdRe4-unsplash.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}
.features .three {
    background-image: url(../images/stil-D4jRahaUaIc-unsplash.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}
.features h5 {
    border-bottom: 2px solid #fff;
    box-sizing:initial;
}
/*** end features ***/



